* {
    font-family: 'helvetica', sans-serif;
}

body {
    margin: 0
}

.page {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.appBar {
    display: flex;
    background-color: rgb(30, 179, 79);
    height: 5rem;
    width: 100vw;
}

.titleRow {
    display: flex;
    flex-direction: row;
}
.title {
    display: flex;
    color: white;
    font-size: 30pt;
    margin: auto;
}

.courseListTxt {
    font-size: 21pt;
    margin-left: 12.5rem;
    margin-top: 15px;
}

.course-list {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 40rem;
    margin-top: 15px;
    margin-left: 3rem;
}

.courseBtn {
    display: flex;
    border: 2px solid #292875;
    background-color: #e5e5eb;
    border-radius: 10px;
    color: rgb(10, 145, 57);
    width: 30rem;
    height: 4rem;
    margin-top: 5px;
}

.courseBtn:hover {
    cursor: pointer;
    background-color: #b8b8d7;
}

.courseBtnTxt {
    font-size: 19pt;
    margin: auto;
}

.lecturesContainer {
    width: 55rem;
    height: 4rem;
    display: flex;
    position: absolute;
    background-color: rgba(102, 229, 51, 0.2)
}

.lecture {
    font-size: 17pt;
    color: black;
    margin-top: 5px;
}

.btnRow {
    display: flex;
    flex-direction: row;
    margin: 16rem auto auto;
}

.addLectureTxt {
    font-size: 14pt;
}

.addLectureBtn {
    width: 18vw;
    height: 8vh;
    border-radius: 25px;
    background-color: white;
    border: 2px solid rgb(4, 220, 98);
    transition: .2s ease-in-out;
    margin-left: 20px;
}

.addLectureBtn:hover {
    background: rgb(4, 220, 98);
    color: white;
    cursor: pointer;
}

.addLectureBtn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

.addCourseBtn {
    width: 18vw;
    height: 8vh;
    border-radius: 25px;
    background-color: white;
    border: 2px solid rgb(4, 220, 98);
    transition: .2s ease-in-out;
    margin-right: 20px;
}

.addCourseBtn:hover {
    background: rgb(4, 220, 98);
    color: white;
    cursor: pointer;
}

.addCourseBtn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

.courLecRow {
    display: flex;
    flex-direction: row;
}

.lecturesList {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-top: 1rem;
}

.lectureTitle {
    margin-left: 5px;
    font-size: 15pt;
    position: absolute;
}

.addCourseDialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: 0.4s;
    background-color: rgba(209, 223, 205);
    right: 2rem;
    top: 10rem;
    width: 30rem;
    height: 25rem;
}

.addLectureDialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: 0.4s;
    background-color: rgba(209, 223, 205);
    right: 2rem;
    top: 9rem;
    width: 30rem;
    height: 35rem;
}

.inputRow {
    display: flex;
    flex-direction: row;
    margin-top: 30px
}

.inputCourseData {
    width: 15rem;
    height: 2rem;
    margin-left: 20px;
}

.timeInput {
    width: 7rem;
    height: 2rem;
    margin-left: 15px;
}

.timeTxt {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.courseAddingTxt {
    font-size: 20pt;
    text-align: center;
    margin-top: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.confirmAdding {
    display: inline;
    margin-top: 3rem;
    height: 3rem;
    background-color: white;
    width: 8rem;
    border: none;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}


.confirmAdding:hover {
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.confirmAdding:active {
    background-color: rgba(124, 214, 160, 0.4);
    transition: 0.2s;
}

.backBtn {
    display: inline;
    margin-top: 3rem;
    height: 3rem;
    background-color: white;
    width: 8rem;
    border: none;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.backBtn:hover {
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.backBtn:active {
    background-color: rgba(124, 214, 160, 0.4);
    transition: 0.2s;
}

.selectTitles {
    margin-left: 15px;
}

.dialogButtons {
    display: flex;
    flex-direction: row;
}